<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: data.title %}
  </head>
  <body class="bg-amber-50 {{ data.layout }} {{ data.page_class }}">
    <div class="max-w-sm px-4 md:max-w-lg xl:max-w-5xl min-h-full mx-auto my-2">
      {% render "navbar", metadata: site.metadata, resource: resource %}

      <main class="flex flex-col h-screen mx-auto my-3 min-h-max space-y-6 place-items-center">
        {{ content }}
      </main>

      {% render "footer", metadata: site.metadata %}
    </div>
  </body>
</html>
