<header>
  <h1 class="font-bold text-center text-saltireblue-800">The Life Of Aye</h1>
</header>

<nav>
  <ul class="flex place-content-around">
    <li class="font-bold text-amber-500"><a href="{{ '/' | relative_url }}">Home</a></li>
    <li class="font-bold text-amber-500"><a href="{{ '/about' | relative_url }}">About</a></li>
    <li class="font-bold text-amber-500"><a href="{{ '/posts' | relative_url }}">Blog</a></li>
    <li class="font-bold text-amber-500"><a href="{{ '/projects' | relative_url }}">Projects</a></li>
  </ul>
</nav>
